
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Navbar Section + Banner Section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.h3-color {
    color: rgba(78, 71, 255, 1);
}
.h3-class {
    font-size: 34px;
    font-weight: 800;
    margin-left: 150px;
}
.singup-margin {
    margin-right: 150px;
    width: 132px;
    height: 48px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;

}

body {
    background-color: rgba(245, 248, 255, 1);
}
.header-class {
    background-image: url('../assets/hero.png');
    width: auto;
    height: 698px;
}
.header-des {
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}
.h-b-d-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-ban-des{
    /* width: 905px;
    height: 237px; */
    margin-top: 100px;
}
.stayfocused-btn{
    width: 174px;
    height: 48px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
/* main Action Section */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* width: 1140px;
    height: 328px;  */
    /* margin-left: 0px; */
    /* gap: 500px; */
    gap: 500px;

}
.description-color {
    color: #252432;
}
.main-h2 {
    font-size: 42px;
    font-weight: bold;
    height: 10px;
}
.wc-mini-class {
    border-radius: 40px;
    width: 403px;
    height: 328px;
}
.main-btn-launch{
    width: 229px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    
}
.main-p {
    font: 24px;
    width: 517px;
    /* height: 60px; */
    color: rgba(37, 36, 50, 0.5);
}
.w-h-main{
     width: 1140px;
    height: 328px; 
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    background-color: rgba(245, 248, 255, 1);
    
}
.mini-div {
    margin-right: 0px;
    
}
.main-des {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
/* main Productive Users Section */

.stats-container {
    background-color: rgba(78, 71, 255, 0.1);
    padding: 40px 60px;
    max-width: 900px;
    text-align: center;
    margin: 60px auto 60px auto;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.stats-container h2 {
     font-family: 'Raleway', sans-serif;
     font-size: 1.5rem;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 30px;
}
.stats {
    display: flex;
    justify-content: space-around;
    flex: wrap;
    gap: 40px;
}
.stat{
    text-align: center;
}
.stat-number {
     font-family: 'Inter', sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
     color: rgba(78, 71, 255, 1);
}
.stat-label {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  margin-top: 6px;
}
/* Responsive Layout */
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    gap: 20px;
  }
}
/* Users’ Feedback Section */
.review-container{
    padding: 60px;
    text-align: center;
}
.review-container h2 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 2rem;
}
.reviews {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.review-cards{
    background-color: rgba(242, 237, 237, 1);
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.star-images{
    display: flex;
    gap: 3px;
    margin-bottom: 10px;
}
.star-icon{
    width: 16px;
    height: 15px;
}
.review-cards h3 {
     font-size: 1.5rem;
  font-weight: 650;
  margin-bottom: 3px;
  color: rgba(30, 30, 30, 1);
}
.review-cards p {
  font-size: 0.9rem;
  color: rgba(30, 30, 30, 1);
  margin-bottom: 16px;
}
.reviewers {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewer-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.reviewer-info {
  display: flex;
  flex-direction: column;
}
.name {
    color: rgba(117, 117, 117, 1);
    font-size: 1rem;
    font-family: 'inter', sans-serif;
}
.date {
    color: rgba(179, 179, 179, 1);
    font-size: 0.8rem; font-family: 'inter', sans-serif;
    margin-top: 3px;
}
.hover-button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 700;
}
.hover-button:hover{
    background-color: lightgreen;
    cursor: pointer;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-button {
   text-align: center;
}
.banner {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 1140px;
    margin: 5px auto 5px auto;
}
.h1-p-banner {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 33px;
}
.p-banner{
    color: rgba(179, 179, 179, 1);
}
.banner-btn{
    width: 180px;
    height: 48px;
    margin-bottom: 15px;
}
.img-banner {
    margin-bottom: 40px;
}
.img-ban{
    border-radius: 50px;
}